/* ------------------- CSS Inside Head Section ----------------------- */
@media (min-width: 992px) {
  html.w-mod-js:not(.w-mod-ix) [data-w-id="8a74a56d-90ff-1fd0-70b4-c8ba7fabbc78"] {
    -webkit-transform: translate3d(-110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-110%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="4e529261-eb09-a6cb-d53b-1caa42e3e482"] {
    -webkit-transform: translate3d(-300%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-300%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-300%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-300%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="76217330-bf5a-7c69-166e-01f73bb1d5be"] {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="2f6abd90-5562-7b73-88e4-b9bcc1cdd38d"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="20aa7ea5-0a72-b658-1a07-1534c6e36f3d"] {
    -webkit-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 110%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fd334e19-8828-bb58-a856-8e50d2e6adda"] {
    -webkit-transform: translate3d(-6px, 6px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-6px, 6px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-6px, 6px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-6px, 6px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 0.16;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="6a575794-c216-6f9f-0477-527f51640c02"] {
    color: rgba(220, 239, 216, 0.7);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="54dc9481-d76e-7894-29d5-a73a0322b026"] {
    color: rgb(151, 210, 139);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bc6d8719-1810-8511-6d41-9b5a972063ea"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bc6d8719-1810-8511-6d41-9b5a972063ef"] {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1.06, 1.06, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1.06, 1.06, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1.06, 1.06, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1.06, 1.06, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bc6d8719-1810-8511-6d41-9b5a972063f1"] {
    -webkit-transform: translate3d(-8px, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-8px, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-8px, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-8px, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bc6d8719-1810-8511-6d41-9b5a972063ed"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 8px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bc6d8719-1810-8511-6d41-9b5a972063ec"] {
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="25b693c8-060d-6dbd-c653-6e06b7aa6b3c"] {
    display: none;
    opacity: 0;
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="fdfe489e-a551-9649-4a12-07e994d853d5"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="3c0b519a-a9a3-60c4-48e0-5d02c9bac54d"] {
    -webkit-transform: translate3d(0em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="bd262f9d-3f0a-c3cc-1540-073a764f18d0"] {
    -webkit-transform: translate3d(-0.5em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-0.5em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-0.5em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-0.5em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }

  html.w-mod-js:not(.w-mod-ix) [data-w-id="f919849e-39d4-53c8-64af-1f1f3e944daf"] {
    -webkit-transform: translate3d(-1.4em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(-1.4em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(-1.4em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(-1.4em, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
  }
}

.body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  overflow-x: hidden;
}

/* * {
  scrollbar-color: rgba(mat-color($primary-light), 0.5) rgba(mat-color($primary-light), 0.1) !important;
  scrollbar-width: none !important;
} */

/*Valeri added this */
::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* ONLY SAFARI CSS 
  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .transition-background-dynamic {
  PUT CODE HERE
  }
  }

  */

/*-----------NAVIGATION-----------*/
a[stagger-link] [stagger-link-text] {
  text-shadow: 0 1.3em 0 white;
}

a[stagger-link] [stagger-link-text="white"] {
  text-shadow: 0 1.3em 0 rgba(65, 176, 214, 1);
}

a[stagger-link] [stagger-link-text="orange"] {
  text-shadow: 0 1.3em 0 #2c3540;
}

a[stagger-link] [stagger-link-text="pale-green"] {
  text-shadow: 0 1.3em 0 rgba(65, 176, 214, 1);
}

a[stagger-link] [stagger-link-text="normal"] {
  text-shadow: 0 1.3em 0 #2c3540;
}

a[stagger-link] [stagger-link-text="cookie"] {
  text-shadow: 0 1.3em 0 #767b76;
}

.line {
  overflow: hidden;
  padding-bottom: 0.2em;
}

.menu-link,
.nav_main-arrow {
  transition: opacity 0.3s ease-in-out;
}

.menu-link:hover {
  opacity: 1;
}

.nav_main-top-wrapper:hover .menu-link:not(:hover) {
  opacity: 0.35;
}

.menu-link:hover .nav_main-arrow {
  opacity: 0.4;
}

.nav__open-top-line {
  transform: translate(-20%, 0);
  transition: property duration cubic-bezier(0.52, 0.007, 0.07, 1);
}

.nav__open-bottom-line {
  transform: translate(20%, 0);
  transition: property duration cubic-bezier(0.52, 0.007, 0.07, 1);
}

.nav__open-wrapper:hover .nav__open-top-line {
  transform: translate(20%, 0);
  /*background-color:#97D28B; */
}

.nav__open-wrapper:hover .nav__open-bottom-line {
  transform: translate(-20%, 0);
  /* background-color:#97D28B;*/
}

.service_single-small-wrapper {
  position: relative;
  width: 100%;
  max-height: 0em;
  transition: max-height 0.6s;
  transition-timing-function: cubic-bezier(0.684, 0.007, 0.076, 0.995);
}

.single-service-wrapper:hover .service_single-small-wrapper {
  max-height: 6em;
  transition: max-height 0.7s;
  transition-timing-function: cubic-bezier(0.684, 0.007, 0.076, 0.995);
}

.page__wrap {
  opacity: 0;
  transform: translateY(0.3em);
  /* Initial position, adjust as needed */
}

.logo__single svg path {
  fill: currentColor;
  transition: fill 0.3s ease;
}

.logo__single:hover svg path {
  fill: var(--original-color);
}

.footer-button-overlay {
  border-radius: 100%;
  transition: border-radius 0.5s ease;
}

.footer__submit-button-wrapper:hover .footer-button-overlay {
  border-radius: 0%;
}

/* ----------------------------Swiper CSS -------------------------------- */

.swiper {
  width: 26em;
  height: 34em;
}

.swiper-slide.is-content.w-dyn-item {
  background-color: #e4ece3 !important;
  border-radius: 24px;
}

/*.swiper-slide{
  box-shadow: 0px 20px 100px 10px rgba(38,45,41,0.2);
  }
  */
.initial-opacity {
  opacity: 0 !important;
}

@media only screen and (min-width: 978px) {
  .swiper-3d .swiper-slide-shadow {
    background: rgba(73, 82, 75, 0.85) !important;
  }

  .swiper-slide-prev .swiper-slide-shadow {
    background: rgba(73, 82, 75, 0.35) !important;
  }

  .swiper-slide-next .swiper-slide-shadow {
    background: rgba(73, 82, 75, 0.35) !important;
  }
}

.target-div-1,
.target-div-2 {
  position: relative;
  width: 100%;
  height: 7.5em;
}

.move-text-1,
.move-text-2 {
  position: absolute;
}

.is-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.page-loader {
  display: flex;
}

/* ----------------------------Inside Body CSS------------------------------ */

.body {
  font-size: 1.0582010582010584vw;
  overscroll-behavior: none;
}

/* Max Font Size */

@media screen and (min-width: 1921px) {
  .h1.is-home-hero {
    font-size: 8em;
  }
}

@media screen and (min-width: 1700px) {
  .body {
    font-size: 17.98941798941799px;
  }
}

/* Container Max Width */
.container {
  max-width: 1700px;
}

.no-events,
.logos-change-wrapper,
.addifico-sory,
.footer-image-arrow,
.nav,
.navigation,
.cookie-banner {
  pointer-events: none;
}

.nav__logo-wrapper,
.nav__logo-cta-wrapper,
.hidden-navigation,
.cookie__policy-inner {
  pointer-events: auto;
}

/* .page__wrap {
overflow: clip;
} */

.text-balance {
  text-wrap: balance;
}

/* :is (h1, h2, h3, h4, h5, h6, p) a {
  text-decoration: underline !important;
} */

:root {
  --bg-0: #fff;
  --bg-1: #e4ece3;
  --bg-2: #dcefd8;
  --bg-3: #43554b;
  --bg-4: #262d29;
  --bg-5: #000000;
  /* --bg-accent: #97d28b; */
  --bg-accent: white;
}

.to-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

textarea {
  resize: none;
}

.footer_mail-link-hidden {
  width: calc(100% - 4em);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #dcefd8 inset !important;
  -webkit-text-fill-color: #43554b !important;
  border: 1px #dcefd8 solid;
}

/*----------Services Index----------*/

.blog__filter-item .filter__clear-button-warpper .filter__clear-button {
  transform: scale(0) !important;
}

.blog__filter-item.fs-cmsfilter_active .filter__clear-button-warpper .filter__clear-button {
  transform: scale(1) !important;
}

@media only screen and (max-width: 990px) {
  .service__single-arrow svg {
    width: 14px !important;
    height: 14px !important;
  }

  .service_single-small-wrapper {
    max-height: None;
  }

  .single-service-wrapper:hover .service_single-small-wrapper {
    max-height: None;
  }

  .service__single-image-wrap svg {
    width: 72px !important;
    height: 72px !important;
  }

  .swiper-slide {
    width: 400px !important;
  }
}

@media only screen and (max-width: 768px) {
  .service__single-arrow svg {
    width: 12px !important;
    height: 12px !important;
  }

  .service__single-image-wrap svg {
    width: 52px !important;
    height: 52px !important;
  }

  .swiper-slide.is-content.w-dyn-item {
    width: 86% !important;
  }

  .blog__switcher {
    overflow: scroll;
  }

  .home-bg,
  .section-home-hero {
    height: calc(100vh - 72px);
  }
}

/* --------------------------------- global w-embedd css-------------------------- */
.body {
  font-size: 1.0582010582010584vw;
  overscroll-behavior: none;
}

/* Max Font Size */

@media screen and (min-width: 1921px) {
  .h1.is-home-hero {
    font-size: 8em;
  }
}

@media screen and (min-width: 1700px) {
  .body {
    font-size: 17.98941798941799px;
  }
}

/* Container Max Width */
.container {
  max-width: 1700px;
}

.no-events,
.logos-change-wrapper,
.addifico-sory,
.footer-image-arrow,
.nav,
.navigation,
.cookie-banner {
  pointer-events: none;
}

.nav__logo-wrapper,
.nav__logo-cta-wrapper,
.hidden-navigation,
.cookie__policy-inner {
  pointer-events: auto;
}

/* .page__wrap {
overflow: clip;
} */

.text-balance {
  text-wrap: balance;
}

/* :is (h1, h2, h3, h4, h5, h6, p) a {
  text-decoration: underline !important;
} */

:root {
  --bg-0: #fff;
  --bg-1: #e4ece3;
  --bg-2: #dcefd8;
  --bg-3: #43554b;
  --bg-4: #262d29;
  --bg-5: #000000;
  /* --bg-accent: #97d28b; */
  --bg-accent: white;
}

.to-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

textarea {
  resize: none;
}

.footer_mail-link-hidden {
  width: calc(100% - 4em);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #dcefd8 inset !important;
  -webkit-text-fill-color: #43554b !important;
  border: 1px #dcefd8 solid;
}

/*----------Services Index----------*/

.blog__filter-item .filter__clear-button-warpper .filter__clear-button {
  transform: scale(0) !important;
}

.blog__filter-item.fs-cmsfilter_active .filter__clear-button-warpper .filter__clear-button {
  transform: scale(1) !important;
}

@media only screen and (max-width: 990px) {
  .service__single-arrow svg {
    width: 14px !important;
    height: 14px !important;
  }

  .service_single-small-wrapper {
    max-height: None;
  }

  .single-service-wrapper:hover .service_single-small-wrapper {
    max-height: None;
  }

  .service__single-image-wrap svg {
    width: 72px !important;
    height: 72px !important;
  }

  .swiper-slide {
    width: 400px !important;
  }
}

@media only screen and (max-width: 768px) {
  .service__single-arrow svg {
    width: 12px !important;
    height: 12px !important;
  }

  .service__single-image-wrap svg {
    width: 52px !important;
    height: 52px !important;
  }

  .swiper-slide.is-content.w-dyn-item {
    width: 86% !important;
  }

  .blog__switcher {
    overflow: scroll;
  }

  .home-bg,
  .section-home-hero {
    height: calc(100vh - 72px);
  }
}

/* --------------------------------- global w-embedd 2 css-------------------------- */

.body {
  font-size: 1.0582010582010584vw;
  overscroll-behavior: none;
}

/* Max Font Size */

@media screen and (min-width: 1921px) {
  .h1.is-home-hero {
    font-size: 8em;
  }
}

@media screen and (min-width: 1700px) {
  .body {
    font-size: 17.98941798941799px;
  }
}

/* Container Max Width */
.container {
  max-width: 1700px;
}

.no-events,
.logos-change-wrapper,
.addifico-sory,
.footer-image-arrow,
.nav,
.navigation,
.cookie-banner {
  pointer-events: none;
}

.nav__logo-wrapper,
.nav__logo-cta-wrapper,
.hidden-navigation,
.cookie__policy-inner {
  pointer-events: auto;
}

/* .page__wrap {
overflow: clip;
} */

.text-balance {
  text-wrap: balance;
}

/* :is (h1, h2, h3, h4, h5, h6, p) a {
  text-decoration: underline !important;
} */

:root {
  --bg-0: #fff;
  --bg-1: #e4ece3;
  --bg-2: #dcefd8;
  --bg-3: #43554b;
  --bg-4: #262d29;
  --bg-5: #000000;
  /* --bg-accent: #97d28b; */
  --bg-accent: white;
}

.to-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

textarea {
  resize: none;
}

.footer_mail-link-hidden {
  width: calc(100% - 4em);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #dcefd8 inset !important;
  -webkit-text-fill-color: #43554b !important;
  border: 1px #dcefd8 solid;
}

/*----------Services Index----------*/

.blog__filter-item .filter__clear-button-warpper .filter__clear-button {
  transform: scale(0) !important;
}

.blog__filter-item.fs-cmsfilter_active .filter__clear-button-warpper .filter__clear-button {
  transform: scale(1) !important;
}

@media only screen and (max-width: 990px) {
  .service__single-arrow svg {
    width: 14px !important;
    height: 14px !important;
  }

  .service_single-small-wrapper {
    max-height: None;
  }

  .single-service-wrapper:hover .service_single-small-wrapper {
    max-height: None;
  }

  .service__single-image-wrap svg {
    width: 72px !important;
    height: 72px !important;
  }

  .swiper-slide {
    width: 400px !important;
  }
}

@media only screen and (max-width: 768px) {
  .service__single-arrow svg {
    width: 12px !important;
    height: 12px !important;
  }

  .service__single-image-wrap svg {
    width: 52px !important;
    height: 52px !important;
  }

  .swiper-slide.is-content.w-dyn-item {
    width: 86% !important;
  }

  .blog__switcher {
    overflow: scroll;
  }

  .home-bg,
  .section-home-hero {
    height: calc(100vh - 72px);
  }
}

/* --------------------------------- global w-embedd 3 css-------------------------- */

.body {
  font-size: 1.0582010582010584vw;
  overscroll-behavior: none;
}

/* Max Font Size */

@media screen and (min-width: 1921px) {
  .h1.is-home-hero {
    font-size: 8em;
  }
}

@media screen and (min-width: 1700px) {
  .body {
    font-size: 17.98941798941799px;
  }
}

/* Container Max Width */
.container {
  max-width: 1700px;
}

.no-events,
.logos-change-wrapper,
.addifico-sory,
.footer-image-arrow,
.nav,
.navigation,
.cookie-banner {
  pointer-events: none;
}

.nav__logo-wrapper,
.nav__logo-cta-wrapper,
.hidden-navigation,
.cookie__policy-inner {
  pointer-events: auto;
}

/* .page__wrap {
overflow: clip;
} */

.text-balance {
  text-wrap: balance;
}

/* :is (h1, h2, h3, h4, h5, h6, p) a {
  text-decoration: underline !important;
} */

:root {
  --bg-0: #fff;
  --bg-1: #e4ece3;
  --bg-2: #dcefd8;
  --bg-3: #43554b;
  --bg-4: #262d29;
  --bg-5: #000000;
  /* --bg-accent: #97d28b; */
  --bg-accent: white;
}

.to-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

textarea {
  resize: none;
}

.footer_mail-link-hidden {
  width: calc(100% - 4em);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px #dcefd8 inset !important;
  -webkit-text-fill-color: #43554b !important;
  border: 1px #dcefd8 solid;
}

/*----------Services Index----------*/

.blog__filter-item .filter__clear-button-warpper .filter__clear-button {
  transform: scale(0) !important;
}

.blog__filter-item.fs-cmsfilter_active .filter__clear-button-warpper .filter__clear-button {
  transform: scale(1) !important;
}

@media only screen and (max-width: 990px) {
  .service__single-arrow svg {
    width: 14px !important;
    height: 14px !important;
  }

  .service_single-small-wrapper {
    max-height: None;
  }

  .single-service-wrapper:hover .service_single-small-wrapper {
    max-height: None;
  }

  .service__single-image-wrap svg {
    width: 72px !important;
    height: 72px !important;
  }

  .swiper-slide {
    width: 400px !important;
  }
}

@media only screen and (max-width: 768px) {
  .service__single-arrow svg {
    width: 12px !important;
    height: 12px !important;
  }

  .service__single-image-wrap svg {
    width: 52px !important;
    height: 52px !important;
  }

  .swiper-slide.is-content.w-dyn-item {
    width: 86% !important;
  }

  .blog__switcher {
    overflow: scroll;
  }

  .home-bg,
  .section-home-hero {
    height: calc(100vh - 72px);
  }
}