@font-face {
  font-family: "CreatoDisplay-Regular";
  src: url("./Components/assets/font/CreatoDisplay-Regular.otf")
    format("opentype");
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-image: url("/src/Components/assets/images/background.jpeg");
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  font-family: "CreatoDisplay-Regular", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
